@{
  Layout = "_Layout";
}
@foreach (var stylist in Model)
{
  <h4>@stylist.GetName() | <a href="/stylists/@stylist.GetId()">View</a> | <a href="/stylists/@stylist.GetId()/delete">Delete</a></h4>
}
<a href="/stylists/new" class="btn btn-danger btn-lg active">Add Stylist</a>
