@model HairSalon.Models.Category
@{
  Layout = "_Layout";
}
<h3>Add A New Item to @Model.GetName()</h3>
<form action="/categories/@Model.GetId()/items" method="post">
  <div class="form-group">
    <label for="new-item">Item Description</label>
    <input type="text" id="new-item" name="new-item" class="form-control">
  </div>

  <button type="submit" class="btn btn-secondary btn-lg"><img src="https://media.boingboing.net/wp-content/uploads/2014/05/zed-horse-b-800-.gif" width="50" height="30">Add Item</button>
  <a href="/" class="btn btn-secondary btn-lg" role="button"><img src="https://openclipart.org/download/263947/House-4.svg" width="30" height="30">Return Home</a>
</form>
